.btn {
  margin: 0%;
}

.dropdown-toggle {
  font-size: 20px;
}
.dropdown-toggle::after {
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu {
  left: -100px;
}
.navbar-brand {
  font-size: 25px;
}

.ava {
  border-radius: 50%;
  margin-right: 6px;
}

.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.alert-success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.card {
  display: inline-block;
  margin: 38px;
  border-style: solid;
  border-width: 1px;
}

.card-body {
  border-style: none;
  border-radius: 0px;
}

.icon {
  font-size: 16px;
  margin-right: 25px;
}

.pagination {
  margin-left: 25% !important;
}
