.navbar{
    color: white;
}


.question{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#submit1{
    margin-top: 2%;
}
.box{
    margin-left: 7%;
    height: 8vh;
    width: 15vh;
    text-align: center;
    padding: 2vh;
    color: red;
    font-style: oblique;
    font-weight: bold;

}
.active{
    background-color: #292929;
    border-radius: 4px;

}

#delete{
    margin-left: 17.5%;
    font-style: italic;
}

#noti{
    margin-left: 17.5%;

}

#myInput{
    width: 50%;
}